.ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  margin-bottom: -4px;
}

.SingleColorPalette .ColorBox {
  height: 50%;
}

.ColorBox.go-back {
  background-color: black;
}
.back-button,
.copy-button {
  width: 100px;
  height: 30px;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -15px;
  text-align: center;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  text-decoration: none;
}

.back-button {
  opacity: 100%;
}

.ColorBox:hover .copy-button {
  opacity: 1;
  transition: 0.5s;
}

.box-content {
  position: absolute;
  padding: 10px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  color: #000;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
}

.light-text {
  color: #fff;
}

.ColorBox .dark-text {
  color: #000;
}

.see-more {
  background: rgba(255, 255, 255, 0.3);
  padding: 10px;
  font-size: 16px;
  position: absolute;
  border: none;
  bottom: 0;
  right: 0;
  color: #fff;
  width: 60px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.copy-overlay {
  opacity: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.1);
}

.copy-overlay.show {
  opacity: 1;
  transform: scale(50);
  z-index: 10;
  position: absolute;
  transition: transform 1.5s ease-in-out;
}

.copy-msg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 3rem;
  transform: scale(0.1);
  opacity: 0;
  color: #fff;
}

.copy-msg.show {
  opacity: 1;
  transform: scale(1);
  z-index: 25;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.4s;
}

.copy-msg h1 {
  width: 100%;
  text-align: center;
  font-weight: 400;
  text-shadow: 1px 2px #000;
  background: rgba(255, 255, 255, 0.2);
  padding: 1rem;
}

.copy-msg p {
  font-size: 2.5rem;
  font-weight: 100;
}
